@charset "UTF-8";
/* CSS Document */

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-size: 25px;
}

img {
	pointer-events: none;
}

.navbar {
	margin-top: 25px;
	margin-bottom: 50px;
	padding: 0;
}

.navbar-nav {
	margin-left: auto !important;
}

mark {
	display: inline-block;
	background-color: transparent;
	color: #AAAAAA;
}

.nav-selected {
	color: #333333;
}

mark:hover {
	color: #333333;
}

.h1-custom {
	font-size: 2.75rem;
}

.h2-custom {
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
}

.container-fluid {
	margin-left: 0;
}

.arrow-container {
	display: inline-block;
	margin-left: 25px;
}

.arrow-image {
	display: block;
	vertical-align: middle;
}

.behance-image {
	display: block;
	vertical-align: middle;
	background-image: url("../img/socialBehance.svg");
	background-size: contain;
	height: 40px;
	width: 40px;
}

.behance-image:hover {
	background-image: url("../img/socialBehance-hover.svg");
}

.dribble-image {
	display: block;
	vertical-align: middle;
	background-image: url("../img/socialDribble.svg");
	background-size: contain;
	height: 40px;
	width: 40px;
}

.dribble-image:hover {
	background-image: url("../img/socialDribble-hover.svg");
}

.linkedin-image {
	display: block;
	vertical-align: middle;
	background-image: url("../img/socialLinkedin.svg");
	background-size: contain;
	height: 40px;
	width: 40px;
}

.linkedin-image:hover {
	background-image: url("../img/socialLinkedin-hover.svg");
}

.instagram-image {
	display: block;
	vertical-align: middle;
	background-image: url("../img/socialInstagram.svg");
	background-size: contain;
	height: 40px;
	width: 40px;
}

.instagram-image:hover {
	background-image: url("../img/socialInstagram-hover.svg");
}

.social-container {
	display: inline-block;
	float:left;
	margin-right: 15px;
}

.navbar-logo {
	height: 30px;
	display: block;
	padding-left: 4px;
}

hr {
	border-top: 5px solid rgba(0, 0, 0, 0.1);
	margin-top: 3px!important;

}

.anchor-point {
	padding: 0 80px;
	margin: 0 5px;
}
 .div-anchor-point {
	 margin-top: 65px;
	 margin-bottom: 65px;
	 display: flex;
	 justify-content: center;
	 align-items: center;
 }

.project-cell {
	padding: 0 80px;
	display: flex;
	margin-top: 65px;
	max-height: 400px;
	align-items: center;
	overflow: hidden;
}

.project-cell p{
	margin-bottom: 0px;
}

.project-cell-caption {
	display: flex;
	align-items: center;
	margin-bottom: 0;
	padding: 0;
}

.project-cell-row {
	margin: 0;
	width: 100%;
}

.fill {
	display: flex;
	align-items: center;
	overflow: hidden;
}

.fill img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}


#img_wrap {
	width: 100%;
	height: 100%;
	display: block;
}

.my-form {
	border: 1px solid #EFEFEF;
	padding: 10px 18px;
	width: 100%;
}

.form-dimension-small{
	width: 350px;
}

.form-dimension-large{
	width: 705px;
}

.wrapper {
	height: auto !important;
	margin: 0 auto -110px;
}

footer, .push {
	height: 110px;
}

.text-footer{
	height: 110px;
	width: 100%;
	background-color: #F0F0F0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	padding: 1rem;
	/*
	position: absolute;
	bottom: 0;
	*/
}

.text-footer p {
	margin: 0;
}

.p-text-anchor-point {
	margin: 0;
	color: black;
}

.description-product {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-right: 250px;
	margin-left: 250px;
	margin-bottom: 100px
}

.form-contact{
	display: flex;
	justify-content: center;
}

.top-text{
	font-size: 15px;
	margin-bottom: 8px;
	margin-top: 20px;
}

.click-submit {
	margin-top: 10px;
	border-radius: 50px;
	color: white;
	background-color: black;
	border: none;
	margin-bottom: 50px;
	padding: 10px 60px;
}

::placeholder {
	color: #CECECE;
	font-weight: 300;
}
