<nav id="myLogo" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="navbar-logo" src="../../../assets/logo.svg" alt="Mirko D'Agnese">
    </a>
    <button (click)="burgerMenuClicked()" class="navbar-toggler" style="transform: scale(0.8)translateX(30px);" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <svg [ngClass]="collapsed ? '' : ' active'" class="ham hamRotate ham1" viewBox="0 0 100 100" width="80">
        <path class="line top" d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40" />
        <path class="line middle" d="m 30,50 h 40" />
        <path class="line bottom" d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40" />
      </svg>
    </button>

    <div [ngClass]="collapsed ? '' : ' show'" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">

        <li *ngFor="let tab of tabs; let i = index" class="nav-item" (click)="tabClicked(i)">
          <a class="nav-link" aria-current="page" routerLink="{{ tab.link }}" routerLinkActive="true" style="float: right">
            <mark [ngClass]="tab.selected ? 'nav-selected' : ''">{{ tab.title }}</mark>
          </a>
          <div *ngIf="i < tabs.length - 1" style="width: 1px; height: 50%; background-color: #e2e2e2e2; margin: 0 15px;"></div>
        </li>

      </ul>
    </div>
  </div>
</nav>
