/* FOOTER STYLE */
.wrapper {
  height: auto !important;
  margin: 0 auto -110px;
}

footer, .push {
  height: 110px;
}

.text-footer{
  height: 110px;
  width: 100%;
  background-color: #F0F0F0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 1rem;
}

@media only screen and (max-width: 1200px) {
  .text-footer {
    font-size: 15px;
  }
}

.text-footer p {
  margin: 0;
}

