<style>
  #{project.name}-caption-container.hovered {
    transition: background-color 300ms;
  }

  .project-cell:hover #{project.name}-caption-container.hovered {
    background-color: {project.hoverColor};
  }

  #{project.name}-caption {
    margin-left: 0;
    transition: margin 300ms;
  }

  .project-cell:hover #{project.name}-caption.hovered {
    margin-left: 20%;
  }
</style>
<a href='{{ url }}' style='text-decoration: none' target='_blank'>
  <div class='project-cell'>
    <div class='row project-cell-row'>
      <div id='{{ project.name }}-caption-container' class='col-md-5 project-cell-caption-container'>
        <div id='{{ project.name }}-caption' class='project-cell-caption'>
          <h6 class='project-cell-name'>{{ project.title }}</h6>
          <h5 class='project-cell-short-description'>{{ project.shortDescription }}</h5>
          <hr class='project-cell-hr'>
          <p class='project-cell-view-project'>VIEW PROJECT →</p>
        </div>
      </div>
      <div class='col-md-7 fill project-cell-image-container'>
        <img src='{{ project.thumbnail }}' alt=''>
      </div>
    </div>
  </div>
</a>
