<div class="about-container container-fluid">
  <div [ngClass]="getColClass()">
    <h4 class="about-title">Oh Hey! It’s nice to meet you.</h4>
    <p class="about-description">I'm a creative innovator, branding strategist, and designer with experience that creates impactful visual solutions for industries. I graduated at the Comics School of Naples, studying for three years graphic and web design. <br>My main skillsets include companies' logo and brand creation, typography, advertising for social media, posters, labels, and User Interface (UI), User Experience (UX) design and development.<br>I have the ability to take complex data and present them in a clear, digestible way to the audience.</p>
  </div>
  <div [ngClass]="getColClass()">
    <img class="about-image" src="assets/mirkodagnese.jpg" alt=""/>
  </div>
</div>
